/* 👉 Task 2- Target the body element.
    Apply a font family of Arial to the body element.
    The font property is inherited by descendant (nested) elements. */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f6ead4 ;
}
    /* 👉 Task 3- Target the element with id headerTop.
    Apply white color to the text, some padding using px or rem units, and a dark background color. */
#headerTop{
    color: #c6d7eb;
    padding: 10px;
    background-color: #1868ae;
}
    /* 👉 Task 4- Target the divs that are directly nested underneath the id headerTop.
    Make them display as inline block, instead of block.
    This will make them render on the same line. */
.task4{
    display: inline-block;
}
    /* 👉 Task 5- Target the spans that are nested inside the id headerTop.
    Make them have some margin on the right.
    This will prevent the spans from crashing against one another. */
.task5{
    margin-right: 5px;
}
    /* 👉 Task 6- Target the first span nested inside the element with id headerTop.
    Make it have a font weight of bold, and transform the text to uppercase. */
.task6{
    font-weight: bold;
    text-transform: uppercase;
}
    /* 👉 Task 7- Target the id headerBottom.
    Give it a bottom border of 1 pixel, solid gray, and a little bit of padding using px or rem units. */
#headerBottom{
    border-bottom: 1px solid gray;
    padding: 5px;
}
    /* 👉 Task 8- Target the divs that are nested directly inside the element with id headerBottom.
    Make them display as inline block, instead of block.
    This will cause them to render on the same line.
    You can consolidate this rule with the one on step. 4 */
.task8{
    display: inline-block;
}
    /* 👉 Task 9- Target the "Compose" button, although note it's a div instead an actual button.
    Give it color, bold text, background, padding, border radius, margin right, and a cursor of pointer. */
.task9{
    color: #1868ae;
    font-weight: bold;
    background-color: #c6d7eb;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}
    /* 👉 Task 10- Research how to remove all the default styling of button elements.
    Target the button elements inside the element with id headerBottom.
    Remove all their styling, give them a bit of margin to the right, and a cursor of pointer. */
button {
    margin-right: 2px;
    cursor: pointer;
}
    /* 👉 Task 11- Target the button element inside the id headerBottom that has a class of active
    Make the font weight be bolder, and add a bottom border of 2 pixels solid color (you choose the color).
    Add the class name to the "All mail" button. */
.active{
    font-weight: bolder;
    border-bottom: 2px solid #f162ff;
}
    /* 👉 Task 12- Target all divs directly nested inside elements with a class of email,
    and make them display as inline-block elements.
    This will make each email render all its details in the same line*/
.email{
    display: inline-block;
}
    /* 👉 Task 13- Target the elements with a class of email.
    Give them some padding, bigger padding to the left, and a bottom border of very light grey. */
.email{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 10px;
    border-bottom: 2px solid lightgrey;
}
    /* 👉 Task 14- Target each div inside the element with a class of email.
    Make the email author and the email subject take 35% of the width of the parent element.
    Make the check, the date and the size take up 8% of the width of the parent element.
    This will arrange the details in visible columns. */
.email{
    display: flex;
}

.email>div{
    padding: 0px 3px 3px 3px;
}
.email-author{
    padding-right: 5px;
}
.email-author, .email-subject {
    width: 35%;
    
}

.email-check, .email-date, .email-size {
    width: 3.4%;
}

    /* 👉 Task 15- Target the second email and have its font weight be bold.
    This will make it look "unread". */
.task15{
    font-weight: bold;
}
    /* Well done! Check the design file to make sure you are close enough. */
